.lmt {
  &_navbar_wrap {
    &.elementor-sticky--effects {
      box-shadow: 0 10px 10px -2px rgba(0,0,0,.1);
    }
  }

  &_nav_mobile {
    @media (max-width: 768px) {
      &.jet-mobile-menu--left-side.jet-nav-wrap .jet-nav.m-layout-mobile,
      &.jet-mobile-menu--right-side.jet-nav-wrap .jet-nav.m-layout-mobile {
        background-color: #003840;
        width: 100%;
        padding-top: 36px;
      }
    }
  }
}
